BasedOnStyle:     WebKit
Language:         Cpp

#indentation
IndentWidth:                          4
UseTab:                               Never
TabWidth:                             4
ColumnLimit:                          120
PenaltyExcessCharacter:               1000
PenaltyBreakBeforeFirstCallParameter: 1000

Standard:                     Latest

#pointers
PointerAlignment:             Left
ReferenceAlignment:           Pointer
DerivePointerAlignment:       false

#includes
SortIncludes:   CaseSensitive
IncludeBlocks:  Regroup

IncludeIsMainRegex: '([-_]?(test|unittest|internal))?$'

IncludeCategories:
  # C standard library
  - Regex:    '^<(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|threads|time|uchar|wchar|wctype)\.h>$'
    Priority: 1

  # POSIX / Linux / BSD system headers
  - Regex:    '^<(sys|net|netinet|arpa|linux|asm|bits|gnu|asm-generic)/'
    Priority: 2
  - Regex:    '^<(unistd|fcntl|poll|epoll|signal|pthread|ifaddrs|netdb|grp|pwd|termios|ioctl|dlfcn|syslog|dirent|glob|fnmatch|wordexp|regex|iconv|langinfo|xlocale|endian|byteswap)\.h>$'
    Priority: 2

  # C++ standard library
  - Regex:    '^<[a-z_]+>$'
    Priority: 3

  # Third-party libraries
  - Regex:    '^<'
    Priority: 4

  # Project-internal
  - Regex:    '^"'
    Priority: 5

#short lines
AllowShortBlocksOnASingleLine:          false
AllowShortIfStatementsOnASingleLine:    Never
AllowShortLoopsOnASingleLine:           false
AllowShortCaseLabelsOnASingleLine:      false
AllowShortFunctionsOnASingleLine:       None

#spaces
SpacesInParens:                     Never
SpacesInParensOptions:
  InConditionalStatements:          false
  InCStyleCasts:                    false
  InEmptyParentheses:               false
  Other:                            false
SpacesInAngles:                     false
SpacesInSquareBrackets:             false
SpacesInContainerLiterals:          false
SpaceAfterTemplateKeyword:          false
SpaceBeforeCtorInitializerColon:    false
SpaceBeforeInheritanceColon:        false
SpaceBeforeRangeBasedForLoopColon:  true

BinPackArguments:             true
BinPackParameters:            true

#braces
BreakBeforeBraces:            Custom
BraceWrapping:
  AfterFunction:              true      
  AfterControlStatement:      false    
  AfterClass:                 true
  AfterStruct:                true
  AfterEnum:                  false
  AfterNamespace:             true
  AfterCaseLabel:             false
  BeforeElse:                 true
  BeforeCatch:                true
  BeforeWhile:                false
  BeforeLambdaBody:           false
  IndentBraces:               false
  SplitEmptyFunction:         true
  SplitEmptyRecord:           true
  SplitEmptyNamespace:        true

BreakConstructorInitializers:       BeforeColon
PackConstructorInitializers:        BinPack
ConstructorInitializerIndentWidth:  4

AccessModifierOffset:         -2
AlignAfterOpenBracket:        Align
AlignConsecutiveAssignments:  false
AlignConsecutiveDeclarations: false

FixNamespaceComments: true
AlignEscapedNewlines: Right
